/** {
    border: 1px solid red !important;
}*/

img, 
embed, 
object, 
video {
	max-width: 100%;
}

body {
	font-family: "Lato", sans-serif;
	color: #bcbbbb;
	font-weight: 300;
}

nav a, 
button {
	min-width: 48px;
	min-height: 48px;
}

h2 {
	font-size: 40px;
	margin-top: 30px;
}

h3 {
	margin-top: 0;
}

hr {
	border: solid 1px !important;
}

body {
	background-color: #696969;
}

p {
	margin: 0;
}

.col-md-6 {
	height: calc(100%/6);
	padding-bottom: 20px;
	padding-right: 7.5px;
	padding-left: 7.5px;
}

.text-muted {
	color: #494949;
}

.text-thin {
	font-weight: 100;
}

.img-responsive {
		height: auto;
		width: auto;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
	height: 135px;
	width: auto;
}

.large-image {
	width: 100%;
	max-width: 1600px;
	height: auto;
}

.proj-img {
	cursor: pointer;
	padding: 10px;
	background-color: #bcbbbb;
}

.proj-text {
	color: #494949;
	background-color: #bcbbbb;
	position: relative;
	height: 30%;
}

.proj-description {
	text-align: left;
	padding: 10px;
	padding-top: 0;
}

.modal-header {
	color: black;
}

.modal-body {
	color: black;
}

.link {
	position: relative;
	bottom: 0;
	width: 100%;
}

.inside-full-height {
	  	height: 100%;
	  	margin-top: 0;
	  	margin-bottom: 0;
	  	background-color: #bcbbbb;
}

@media screen and (min-width: 992px){
	.col-md-6 {
		height: 460px;
		padding-bottom: 15px;
	}

	.proj-text {
		height: 145px;
	}

	.proj-description {
		height: 90px;
	}
}
@media screen and (min-width: 1200px) {
	.img-responsive {
		padding-right: 0;
		margin: auto;
	}

	.proj-img {
		padding: 10px;
	}

	.proj-text {
		height: 130px;
	}

	.col-md-6 {
		height: 500px;
		padding-bottom: 15px;
	}

	.proj-description {
		height: 65px;
	}
}

@media screen and (min-width: 1300px) {
  	.col-md-6 {
  		width: 33%;
		margin: auto;
		display: block;
		margin-bottom: 5px;
		padding: 5px;
		height: 386.5px;
  	}

  	.proj-text{
  		height: 150px;
  	}

  	.proj-description {
  		height: 90px;
  	}
}

